In [1]:
import numpy as np

In [2]:
np.random.seed(56)

In [3]:
Q1 = np.random.randint(20, size = (10,10))

In [4]:
Q2 = Q1[2:5,3:8]

In [5]:
Q3 = Q1[7:,4:6]

In [6]:
Q4 = Q3.reshape(2,3)

In [7]:
x = np.random.randint(15, size = 10)
y = np.random.randint(15, size = 10)
Q5 = np.concatenate([x,y])

In [8]:
Q6a,Q6b,Q6c,Q6d = np.split(Q5,[4,11,17])

In [9]:
Q7 = Q5.sum()

In [10]:
L = np.random.randint(48, 85, size = 50)

In [11]:
Q8 = L.mean()

In [12]:
name = ['Jonathan Loaisiga', 'Nick Saban', 'Katie Ladecky']
occupation = ['Baseball player', 'Football coach', 'Swimmer']
salary = [595800.00, 8619934.23, 100000.00]

Q9 = np.zeros(3, dtype={'names':('name', 'occupation', 'salary'),
                       'formats':('U20', 'U20', 'f8')})

In [13]:
Q9['name'] = name
Q9['occupation'] = occupation
Q9['salary'] = salary