### Missing Data

In [1]:
import pandas as pd
import numpy as np

In [3]:
vals1 = np.array([1, None, 3, 4])
vals1

array([1, None, 3, 4], dtype=object)

In [6]:
vals2 = np.array([1, np.nan, 3, 4])
vals2
np.nansum(vals2)

8.0

In [7]:
pd.Series([1, np.nan, 2, None])

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64

### Working with Missing Data

In [8]:
data = pd.Series([1, np.nan, 'hello', None])
data.isnull()

0    False
1     True
2    False
3     True
dtype: bool

In [9]:
data.notnull()

0     True
1    False
2     True
3    False
dtype: bool

In [10]:
data[data.notnull()]

0        1
2    hello
dtype: object

In [12]:
df = pd.DataFrame([[1, None, 2],
                [2, 3, 5],
                [np.nan, 4, 6]])
df

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [13]:
df.isnull()

       0      1      2
0  False   True  False
1  False  False  False
2   True  False  False

In [14]:
# This does not really work
df[df.notnull()]

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

### Filling/Droping Missing Values

In [15]:
data = pd.Series([1, np.nan, 2, None, 3], index=list('abcde'))
data

a    1.0
b    NaN
c    2.0
d    NaN
e    3.0
dtype: float64

In [18]:
data.fillna(55)

a     1.0
b    55.0
c     2.0
d    55.0
e     3.0
dtype: float64

In [20]:
data.dropna()

a    1.0
c    2.0
e    3.0
dtype: float64

In [21]:
df2 = pd.DataFrame([[2, np.nan, 2],
                    [2, 3, 5],
                    [np.nan, 4, 6]])
df

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [22]:
df.dropna()

     0    1  2
1  2.0  3.0  5

In [24]:
df.dropna(axis='columns', thresh=3)

   2
0  2
1  5
2  6