In [144]:
import numpy as np
import pandas as pd

In [145]:
Q1 = np.array([2,np.nan,6,7,3,2])

In [146]:
Q2 = np.nansum(Q1)

In [147]:
Q3 = pd.Series([4,5,2,np.nan,1,np.nan])

In [148]:
Q4 = Q3.isnull()

In [149]:
Q5 = pd.Series([4,5,2,np.nan,1,np.nan])
Q5 = Q5[Q5.notnull()]

In [150]:
Q6 = pd.Series([4,5,2,np.nan,1,np.nan])
Q6 = Q6.fillna(100)

In [151]:
ser1 = pd.Series([4,5,6])
ser2 = pd.Series([5,6,np.nan])
ser3 = pd.Series([2,np.nan,7])
ser4 = pd.Series([9,3,np.nan])
ser5 = pd.Series([1,np.nan,4])
ser6 = pd.Series([8,2,3])

Q7 = pd.concat([ser1,ser2,ser3,ser4,ser5,ser6], axis=1)

In [152]:
Q7 = Q7.fillna(100)

In [158]:
Q8 = pd.Series([4,5,2,np.nan,1,np.nan])
Q8 = Q8.dropna()

0    4.0
1    5.0
2    2.0
4    1.0
dtype: float64

In [154]:
Q9 = pd.concat([ser1,ser2,ser3,ser4,ser5,ser6], axis=1)
Q9 = Q9.dropna(axis='columns')

In [155]:
Q10 = pd.concat([ser1,ser2,ser3,ser4,ser5,ser6], axis=1)
Q10 = Q10.dropna()

In [156]:
Q11 = pd.concat([ser1,ser2,ser3,ser4,ser5,ser6], axis=1)
Q11 = Q11.dropna(thresh=5)

In [159]:
Q12 = pd.concat([ser1,ser2,ser3,ser4,ser5,ser6], axis=1)
ser7 = [np.nan,np.nan,np.nan]
Q12['6'] = ser7